# ShellCheck configuration for agenic-journal
# https://www.shellcheck.net/wiki/

disable=SC1091  # Not following sourcedisabled=SC1091
disable=SC2001  # See if you can use ${variable//search/replace} instead
disable=SC2002  # Useless cat
disable=SC2181  # Check exit code directly with e.g. 'if mycmd;', not indirectly with $?

severity=warning
